language: python
sudo: false

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.cache/matplotlib
    - $HOME/pools/

matrix:
  include:
    - python: 3.5

env:
  global:
    - secure: "f6PzI9At5FKvozluhLQnOvNB2wwVdvoVA7hur4PN5E5PbHWeICeNbj15VkIxChUUUwTXEI/mSMMRvYpDHFr205RxaNuv+/lyLo4H1VqiVlZvZi6jJLB2paYwu0AqsAeTjO5XrgKgByuwWDlQIwP02hnxgGD3LbD83h/Trh0Yln4="

before_install:
  - "export DISPLAY=:99.0"
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/mc
  - export PATH=/home/travis/mc/bin:$PATH
  - conda config --set show_channel_urls True
  - conda config --set always_yes True

install:
  - export GIT_FULL_HASH=`git rev-parse HEAD`
  # Install heavy stuff with conda, for speed.
  - conda create -n testenv python=$TRAVIS_PYTHON_VERSION scipy numpy coverage scikit-image pip -c conda-forge
  - source activate testenv
  - git fetch origin --tags  # used by versioneer
  - pip install .[parallel]
  - pip install pytest codecov pytest-cov
  # Need to clean the python build directory (and other cruft) or pytest is
  # going to find the build directory and get confused why there are two sets
  # of every test file
  - git clean -xfd

script:
  - python run_tests.py
  - coverage report -m
  - pip install doctr sphinx numpydoc ipython sphinx_rtd_theme  # docs dependencies
  - cd doc
  - make pools && make images && make html
  - cd ..
  - git config --global user.email "placeholder@placeholder.com"
  - doctr deploy
